/* 메뉴 스크롤바 숨기기 */
@layer components {
    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }
    .scrollbar-hidden {
        -ms-overflow-style: none; 
        scrollbar-width: none; 
    }
}

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}



@supports (-webkit-touch-callout: none) {
    .Paperlogy-text {
        font-weight: 10;  /* 사파리에서만 폰트 웨이트 낮추기 */
    }
}

* {
    font-family: 'Pretendard Variable', sans-serif;
}

.paperlogy {
    font-family: 'Paperlogy', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-weight: 100;
}
